<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Microz</title>

    <!-- Bootstrap -->
    <link href="public/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="public/css/microz.css" rel="stylesheet">
  </head>
  <body>
    <div id="container">
      <div class="col-md-12"><center>
        <div id="header"><a href="/faces"><img src="public/img/black-electorcuted-man.png"></a></div>
        </center>
        </div>
      <div class="col-md-12">
        <div id="nextgig"><h2><span class="label label-success">
        <span id="next-gig-title">Genre: SynthPop - 70s 80s New Wave Dance</span>
        <span id="next-gig-place"></span>
        <span id="next-gig-time"></span>
        </span></h2>
        </div></div>

      <div class="col-md-3"></div>
      <div class="col-md-8"><a href="/bios"><img class="face_sm" src="public/img/mark.png" name="Mark"></a><div class="bio_font">Mark sings.<br/>Mark plays keyboards. <br/>Mark makes flyers. <br/>Mark is a Strawberry Zot.</div></div>
      <div class="col-md-1"></div>
      <div class="col-md-3"></div>
      <div class="col-md-8"><a href="/bios"><img class="face_sm" src="public/img/brad.png"></a><div class="bio_font">Brad plays 4-in-1 keyboards. <br/>Brad makes everyone practice singing.<br/>Brad has a secret name. </div></div>
      <div class="col-md-1"></div>
      <div class="col-md-3"></div>
      <div class="col-md-8"><a href="/bios"><img class="face_sm" src="public/img/kc.png"></a><div class="bio_font">KC hits drums with sticks. <br/>KC sings.<br/>KC is good to his mom.</div></div>
      <div class="col-md-1"></div>
      <div class="col-md-3"></div>
      <div class="col-md-8"><a href="/bios"><img class="face_sm" src="public/img/geof.png"></a><div class="bio_font">Geoff plays guitar. <br/>Geoff sings. <br/>Geoff makes this webpage. <br/>Geoff likes mustard.</div></div>
      <div class="col-md-1"></div>
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div><h2>Collectively the Microz have nearly 100 years of professional performance experience. Members have performed original and cover music locally and nationally as members of the Strawberry Zots, Ryan McGarvey’s band, and James Blond.</h2></div>
        <div><h2>The Microz are focused on making you dance, playing popular songs of the 1970s and 80s.</h2></div>
      <div class="col-md-2"></div>
      <div class="col-md-12"><center>
        <a href="booking"><img id="pow-header" src="/public/img/pow_hire.png"/></a>
        </center>
      </div>
      <div class="col-md-12 footer">
        <button type="button" onclick="gotoPage('faces');"class="btn btn-lg btn-default">The Microz</button>
        <button type="button" onclick="gotoPage('booking');"class="btn btn-lg btn-default">Hire The Microz</button>
        <button type="button" onclick="gotoPage('hits');" class="btn btn-lg btn-default">Dance like it's 1984</button>
        <button type="button" onclick="gotoPage('https://docs.google.com/forms/d/1oobsDLfwmjevHXAxw1G2mniIWctoubaWtzpijakQUF8/viewform');" class="btn btn-lg btn-default">Contact Us!</button>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="public/js/microz.js"></script>
    <script src="public/bootstrap/js/bootstrap.min.js"></script>
    <script>

      $( document ).ready(function() {
        //$('#next-gig-place').html(nextGig.place);
        //$('#next-gig-time').html(nextGig.datetime);
        });
    </script>
  </body>
</html>