<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Microz</title>
	<script src="/public/javascripts/jquery.min.js"></script>
	<script src="/public/javascripts/processing.min.js"></script>
  <script src="/public/javascripts/microz.js"></script>
  <link href="public/stylesheets/microz.css" rel="stylesheet">
</head>
<body>
<div id="containr">
	<div id="title">
	<canvas data-processing-sources="/public/javascripts/bouncer.pde"></canvas>
  </div>
	<div class="slogan bl-pink">Dance like it's 1984.  <a href="/faces"><img style="height:50px;" src="/public/images/shocking.png"/></a>
</div>
</div>
</body>
<script type="text/javascript">
  $( "#containr" ).hide().fadeIn( shockFadeIn );
  window.setInterval(function () {setShock()}, shockTime);
</script>
</html>
