<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Microz</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/public/javascripts/processing.min.js"></script>
  <script src="/public/javascripts/microz.js"></script>
  <link href="public/stylesheets/microz.css" rel="stylesheet">
</head>
<body>
<div id="containr">
  <div id="shockdiv" style="align:center;">
    <img style="height:75%; width:80%;" src="public/images/electorcuted-man.png"/>
    </div>
	<div class="slogan bl-yel">Dance like it's 1984.</div>
</div>
</body>
<script type="text/javascript">
  $( "#containr" ).hide().fadeIn( shockFadeIn );
  window.setInterval(function () {setShock()}, shockTime);
</script>
</html>
