<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Microz</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/public/js/processing.min.js"></script>
  <script src="/public/js/microz.js"></script>
  <link href="public/css/microz.css" rel="stylesheet">
</head>
<body>
<div id="containr">
    <iframe width="100%" height="600" scrolling="no" seamless src="http://microz.pw/shock"/>
</div>
</body>
</html>
