img {
	max-width: 100%
	}
#booking-header {
	margin: 80px 0 0 0;
	}
#container {
width:80%;
margin:auto;
}
#header {
margin: 0 0 20px 0;
}

#bigflyer {
	margin: 20px;
}
.face {
width: 80% ;
padding: 10px;
}
#flyer {
width: 90%;
}
#footer {
margin: 20px;
}
#nextgig {
padding: 50px;
font-size: large;
display: inline;
text-align: center;
word-wrap: break-word;
}
#next-gig-title {
font-weight: bold;
}
#pow-header {
	margin: 50px 0 0 0;
	height: 100%;
	width: 100%;
}
.songlist {
	text-align: center;
}
